<div id="rightbar">
	<div style="font-family:Arial, Helvetica, sans-serif; border-bottom:1px dotted #CCC; padding-left:10px;">LOAN REPAYMENT</div>
    <div id="userdetails">
    	<table width="100%" style="border-collapse:collapse;">
			<tr>
				<td>Student Name: <input disabled="disabled" type="text" name="" id="" /></td>
				<td>Course: <input disabled="disabled" type="text" name="" id="" /></td>
			</tr>
			<tr>
				<td>Total fees invoices: <input disabled="disabled" type="text" name="" id="" /></td>
				<td>Total fees receipts: <input disabled="disabled" type="text" name="" id="" /></td>
			</tr>
			<tr>
				<td>Total amount borrowed: <input disabled="disabled" type="text" name="" id="" /></td>
				<td>Loan period: <input type="text" name="" id="" /></td>
				<td>Interest rate: <input type="text" name="" id="" /></td>
				<td>Penalty rate: <input type="text" name="" id="" /></td>
			</tr>
			<tr>
				<td><button type="text" name="" id=""></button></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
        </table>
                
    </div>
  </div>